@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap');

body{
    font-family: 'Fira Code';
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
}

#menu{
    background-image: url(../images/yCfLnno.png);
    background-repeat: repeat;
    background-position: 0 9px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    animation: scroll 75s linear infinite;
}

#menu ul{
    list-style: none;
    padding: 10px;
    margin: 0;
}

#menu ul li{    
    display: inline-block;
    border-radius: 20px;
    margin: 5px;
}

.table {
	display: table; 
	margin: 0 auto;
}

.explore-button{
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #1C0021;
    z-index: 1;
}

.explore{
    position: relative;
    display: inline-block;
}

.explore-content{
    display: none;
    position: absolute;
    text-align: center;
    background-color: #1C0021;
    font-size: 14px;
    min-width: 100px;
}

.explore-content a{
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 3px;
    min-width: 100px;
    min-height: 20px;
    text-decoration: none;
    display: block;
}

.explore-content a:hover{
    background-color: #4B7BE5;
    border-radius: 20px;
}


.explore:hover .explore-content{
    display: block;
    border-radius: 20px;
    z-index: 2;
}

.explore:hover .explore-button{
    background-color: #30152E;
}

.list-button{
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #1C0021;
    z-index: 1;
}

.list{
    position: relative;
    display: inline-block;
}

.list-content{
    display: none;
    position: absolute;
    text-align: center;
    background-color: #1C0021;
    min-width: 100px;
    font-size: 14px;
    left: 100%;
    top: 2%;
}

.list-content a{
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    min-width: 100px;
    min-height: 20px;
    text-decoration: none;
    display: block;
}

.list-content a:hover{
    background-color: #4B7BE5;
    border-radius: 20px;
}

.list:hover .list-content{
    display: block;
    border-radius: 20px;
    z-index: 2;
}

.list:hover .list-button{
    background-color: #4B7BE5;
}

@keyframes scroll{
    100%{background-position:-2122px;}
}

.main_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-main_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-main_page img{
    margin-left: 500px;
    margin-bottom: 30px;
}

.box-main_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-main_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-main_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;

}

.box-main_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

.contact_page::after{
    content: "";
    background-image: url(../images/background-contact.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-contact_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-contact_page img{
    margin-left: 500px;
    margin-bottom: 30px;
}

.box-contact_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-contact_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-contact_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;

}

.box-contact_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

.box-contact_page_text_area {
    width: 100%;
    background-color: #080d19;
    color: #FFFFFF;
    text-align: start;
}

.box-contact_page_mail{
    background-color: #080d19;
    color: #FFFFFF;
    width: 25%;
}

.drinktionary_page::after{
    content: "";
    background-image: url(../images/background-drinktionary.png);
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-drinktionary_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-drinktionary_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-drinktionary_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-drinktionary_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;

}

.box-drinktionary_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

.Adelhyde{
    color: #F21637;
}

.PowderedDelta{
    color: #87ACF3;
}

.BronsonExtract{
    color: #FFD230;
}

.Flanergide{
    color: #A6D26D;
}

.Karmotrine{
    color: #47D4D4;
}

.drink-list{
    background: rgba(255,255,255,.02);
    border: 0 #40434c;
    border-collapse: collapse;
    margin: 1em 1em 1em 0;
    padding: 1em;
    display: grid;
    grid-template-areas: 
    'headerList headerList headerList headerList headerList headerList headerList headerList headerList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList'
    'rowList rowList rowList rowList rowList rowList rowList rowList rowList';
}

.headerList{
    font-weight: bold;
}

.gallery_page::after{
    content: "";
    background-image: url(../images/background-gallery.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-gallery_page_game_logo img{
    margin-left: 450px;
}

.box-gallery_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-gallery_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 2%;
}

.box-gallery_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.gallery_photos{
    padding: .5em;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0.5em;
    row-gap: 0.5em;
    z-index: 1;
}

.gallery_photo img{
    width: 100%;
    height: auto;
    row-gap: 50em;
    border: 2px solid rgba(255, 255, 255, 0.75);
}

.calicomp_page::after{
    content: "";
    background-image: url(../images/background-CALICOMP.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-calicomp_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-calicomp_page img{
    margin-left: 500px;
    margin-bottom: 30px;
}

.box-calicomp_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-calicomp_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-calicomp_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;

}

.box-calicomp_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

.danazane_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-danazane_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-danazane_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-danazane_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-danazane_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;

}

.box-danazane_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

.page-to-left{
    width: 60%;
}

.page-to-right{
    width: 243px;
    border: 2px solid rgba(33, 148, 241, 0.5);
    position: relative;
    left: 64vw;
    top: 20vh;
    z-index: 1;
}

.sprite{
    border: 2px solid rgba(33, 148, 241, 0.5);
}

.characteristics h2{
    background-color: #2194F1;
}

.characteristics p{
    margin: 0;
    font-size: 12px;
    border: 1px solid rgba(33, 148, 241, 0.5);
}

.personal-status h2{
    background-color: #2194F1;
}

.personal-status p{
    margin: 0;
    font-size: 12px;
    border: 1px solid rgba(33, 148, 241, 0.5);
}

.abcde{
    font-size: 10px;
}
.page-to-right a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

@media screen and (max-width: 1400px){
    .page-to-right{
        display: none;
    }
}

@media screen and (max-width: 1400px){
    .page-to-left h2{
        margin: 0;
        background: #1C0021;
        border: 2px solid #30152E;
        font-size: 120%;
        font-weight: 700 #30152E;
        text-align: left;
        color: #FFFFFF;
        padding: 0.2em 0.4em;
        width: 162%;
    }
}

.jill_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-jill_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-jill_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-jill_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-jill_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-jill_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

.page-to-left{
    width: 60%;

}

.page-to-right{
    width: 243px;
    border: 2px solid rgba(33, 148, 241, 0.5);
    position: relative;
    left: 64vw;
    top: 20vh;
    z-index: 1;
}

.sprite1{
    border: 2px solid rgba(33, 148, 241, 0.5);
    padding-left: 50px;
}

.characteristics h2{
    background-color: #2194F1;
}

.characteristics p{
    margin: 0;
    font-size: 12px;
    border: 1px solid rgba(33, 148, 241, 0.5);
}

.personal-status h2{
    background-color: #2194F1;
}

.personal-status p{
    margin: 0;
    font-size: 12px;
    border: 1px solid rgba(33, 148, 241, 0.5);
}

.abcde{
    font-size: 10px;
}
.page-to-right a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

@media screen and (max-width: 1400px){
    .page-to-right{
        display: none;
    }
}

@media screen and (max-width: 1400px){
    .page-to-left h2{
        margin: 0;
        background: #1C0021;
        border: 2px solid #30152E;
        font-size: 120%;
        font-weight: 700 #30152E;
        text-align: left;
        color: #FFFFFF;
        padding: 0.2em 0.4em;
        width: 162%;
    }
}

.gillian_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-gillian_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-gillian_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-gillian_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-gillian_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-gillian_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

.robert_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-robert_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-robert_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-robert_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-robert_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-robert_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

.rad_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-rad_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-rad_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-rad_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-rad_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-rad_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

.donovan_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-donovan_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-donovan_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-donovan_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-donovan_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-donovan_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

.alma_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-alma_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-alma_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-alma_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-alma_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-alma_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

.dorothy_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-dorothy_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-dorothy_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-dorothy_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-dorothy_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-dorothy_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

.ingram_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-ingram_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-ingram_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-ingram_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-ingram_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-ingram_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}

.beatrice_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-beatrice_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-beatrice_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-beatrice_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-beatrice_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-beatrice_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}


.deal_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-deal_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-deal_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-deal_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-deal_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-deal_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}

.art_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-art_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-art_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-art_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-art_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-art_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}


.lenore_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-lenore_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-lenore_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-lenore_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-lenore_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-lenore_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}

.mario_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-mario_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-mario_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-mario_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-mario_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-mario_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}

.nicole_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-nicole_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-nicole_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-nicole_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-nicole_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-nicole_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}

.virgilio_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-virgilio_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-virgilio_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-virgilio_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-virgilio_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-virgilio_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}

.kira_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-kira_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-kira_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-kira_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-kira_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-kira_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}

.sei_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-sei_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-sei_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-sei_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-sei_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-sei_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}


.essentia_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-essentia_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-essentia_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-essentia_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-essentia_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-essentia_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}

.page-to-right1{
    width: 243px;
    border: 2px solid rgba(33, 148, 241, 0.5);
    position: relative;
    left: 64vw;
    top: 12vh;
    z-index: 1;
}

.page-to-right1 a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
    transition: color .3s;
}
@media screen and (max-width: 1400px){
    .page-to-right1{
        display: none;
    }
}

.nacho_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-nacho_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-nacho_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-nacho_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-nacho_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-nacho_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}

.anna_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-anna_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-anna_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-anna_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-anna_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-anna_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}


.gaby_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-gaby_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-gaby_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-gaby_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-gaby_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-gaby_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}

.sprite2{
    border: 2px solid rgba(33, 148, 241, 0.5);
    padding-left: 20px;
}

.vallhala_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-vallhala_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-vallhala_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-vallhala_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-vallhala_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-vallhala_page_content li{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-vallhala_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}

.rebecca_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-rebecca_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-rebecca_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-rebecca_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-rebecca_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-rebecca_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}

.lilim_page::after{
    content: "";
    background-image: url(../images/background-mp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.box-lilim_page{
    background-color: #080d19;
    padding: 1em;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    z-index: 1;
}

.box-lilim_page_content{
    border: 2px solid #FFFFFF;
    background: #000000;
    color: #FFFFFF;
    padding: 15px;
}

.box-lilim_page_content h2{
    margin: 0;
    background: #1C0021;
    border: 2px solid #30152E;
    font-size: 120%;
    font-weight: 700 #30152E;
    text-align: left;
    color: #FFFFFF;
    padding: 0.2em 0.4em;
}

.box-lilim_page_content p{
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

.box-lilim_page_content a{
    color: #FC1783;
    line-height: inherit;
    text-decoration: none;
}